<link rel="icon" type="image/x-icon" href="https://img.icons8.com/external-smashingstocks-isometric-smashing-stocks/55/null/external-error-404-bigdata-smashingstocks-isometric-smashing-stocks.png">
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
